body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #75b74e, #6db16e);
    font-family: Arial, sans-serif;
}
.card {
    background-color: #2e5d27;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
}
.card h2 {
    margin: 10px 0;
}
.card p {
    margin: 5px 0;
}
.bold {
    font-weight: bold;
}
h2:hover {
    color: blue;
}